
.container-site{
    display: grid;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 8rem auto auto auto;

    height: auto;   
}

.container-research{
    display: grid;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 8rem auto auto auto auto auto;

    height: auto;   
}

.container-careers{
    display: grid;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 8rem auto auto auto auto auto auto auto;

    height: auto;   
}