
$font_family: Arial, Helvetica, sans-serif;

$button_fontsize: 1rem;
$title_fontsize: 3.2rem;
$text_fontsize: 18px;

$textcolor: #fff;
$text_p_color: #555555;
$title_h1_color: #041309;

$fontweight_small: 300;
$fontweight_bold: 900;

$primarycolor: #1a5427;

$button_padding: 13px 25px;
$button_borderradius: 10px;

$list_topmargin: 20px;

