@use "../base/variables" as *;

.bloglink {
    grid-column: 2/4;
    grid-row: 3/4;
    width: 100%;

    &_container {
        width: 90%;
        margin-top: 3rem;
    }

    &_image {
        cursor: pointer;
        position: relative;
        display: grid;
        place-items: center;
        width: 100%;
        border-radius: $image-radius;

        &_img {
            width: 100%;
            height: 430px;
            grid-area: 1 / 1;
            z-index: 1;
            border-radius: inherit;
        }

        &_date {
            grid-area: 1 / 1;
            align-self: end;
            justify-self: start;
            color: white;
            padding: 3.5rem 1.8rem;
            z-index: 2;
            font-family: $font_family;
            font-size: $text_fontsize;
            font-weight: $fontweight_small;
        }

        &_title {
            grid-area: 1 / 1;
            align-self: end;
            justify-self: start;
            color: white;
            z-index: 2;
            font-size: $title_h3_fontsize;
            font-weight: $fontweight_small;
            margin: 1rem;
            padding: 0.5rem 0.8rem;
        }
    }

    
}


