@use "../base/variables" as *;
@use "../common/logosidebar";
@use "../common/listvertical";

.sidebar {
    grid-column: 1/2;
    grid-row: 2/4;

    &_logo {
        cursor: pointer;
    }

    &_logo img {
        width: 70%;
    }

    &_logo a {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .sidebar{
        visibility: hidden;
    }
}
