@use "../base/variables" as *;

.sidebar-navigation ul {
    list-style: none;
    margin-top: 3rem;
    justify-content: center;
}
.sidebar-navigation ul li a{
    text-decoration: none;
    color: $list_a_color;
    transition: opacity 0.3s ease;
    font-family: $font_family;
    font-size: $list_fontsize;
}

.sidebar-navigation ul li {
    margin-top: $listitems_topmargin;
}

.sidebar-navigation ul:hover li a {
    filter: blur(1px);
    opacity: 0.2;
}

.sidebar-navigation ul li:hover a{
    filter: blur(0px);
    opacity: 1;
}

.nav-link svg{
    visibility: hidden;
}

.nav-link:hover svg{
    visibility: visible;
}
